.titlewrapper{
    background-color: rgb(232, 215, 250);
}

.maintitle{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    height: 100%;
    padding: auto;
    vertical-align: middle;
    height:82vh;

}

.header{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: -1rem;
    color: #333;
    text-align: center;
    
}

.uppermargin{
    margin-top: 2rem;
}

.lowermargin{
    margin-bottom: 5rem;
}

.subtitle{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #4d3c56;
    text-align: center;
    font-style:italic;
}
.question{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #4d3c56;
    text-align: left;
    font-style:italic;

}

.button_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    width:80vw;
}

.button_wrapper button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    color:rgb(232, 215, 250);
    border-radius:10px;
    border: 0px;
    background-color:#27003285;
}

.button_invalid {
    background-color:rgb(232, 215, 250) !important;
    cursor: default !important;
}

.scrollable_container{
        width: 80vw; /* Fixed width */
        height: 60vh; /* Fixed height */
        margin-top:10px;
        padding: 40px; /* Padding inside the bubble */
        border: 2px solid #cccccc00; /* Border around the bubble */
        border-radius: 20px; /* Rounded corners */
        background-color: #ffffff4e; /* Background color */
        overflow-y: scroll; /* Enable vertical scrolling */
        

}

.qwrapper{
    margin-bottom: 20px;
}

.infodiv{
    padding:10px;
}

.info{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #270032;
    text-align: left;
}

.subinfo{
    margin-left: 20px;
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #270032;
    text-align: left;
}

.centeritem{
    text-align: center;
}

.bullets{
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: #270032;
    text-align: left;
}
.bullets li{
    margin-bottom: 0.3rem;
}

.ordlist{
    font-size: 0.9rem;
    font-weight: 300;
    margin-bottom: 1rem;
    margin-top:1rem;
    color: #270032;
    text-align: left;
    margin-left:3rem;
}
.ordlist li{
    margin-bottom: 0.3rem;
}